<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <button  @click="addbutton(this.add)">+</button>
    <button  @click="addbutton(this.del)">-</button>
    <button  @click="addbutton(this.mul)">*</button>
    <button  @click="addbutton(this.didive)">/</button>
    <br>
    <br>
    
        <div id= "app">
            <input type="number" v-model="number1" >
            +
            <input type="number" v-model="number2">
            =
            <template>
                <div>
                {{ add }}
                {{ del }}
                {{ mul }}
                {{ didive }}
                </div>
            </template>
<template>
    <div>
        <div v-if="add == 'this.add'">
            +
          </div>
          <div v-if="del == 'this.del'">
            -
          </div>
          <div v-if="mul == 'this.mul'">
            *
          </div>
          <div v-if="didive == 'this'">
            /
          </div>

    </div>
</template>
           



            
        </div>
        <script>
            var app = new Vue({
                el: '#app',
                data:{
                    number1:0,
                    number2:0,
                    result:0,
                    name: [
                        'การบวก',
                        'การลบ',
                        'การคูณ',
                        'การหาร'
                    ],
                    selectbutton: ''
                },
                
                computed: {
                    add: function() {
                        return parseInt(this.number1)+parseInt(this.number2);
                    },
                    del: function() {
                        return parseInt(this.number1)-parseInt(this.number2);
                    },
                    mul: function() {
                        return parseInt(this.number1)*parseInt(this.number2);
                    },
                    didive: function() {
                        return parseInt(this.number1)/parseInt(this.number2);
                    },
                    
                    
                },
            });
        </script>
</body>
</html>